*{
    background-color:papayawhip;
    margin: 0;
    padding: 0;
    
}
nav{
    color: black;
    display: inline-block;
    width: 90%;
    margin-top: 20px;
}
.logo{
    display: inline-block;
    margin: 0 15px;
}
.banner{
    width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position: top;
    
}

nav>a{
    color: black;
    border: 1px;
    background-color: burlywood;
    padding: 1rem;
    border-radius: 2rem;
    text-decoration: none;
}

h1,h2,h3{
    text-align: center;
}

.aside>p{
    display: inline-block;
    width: 12rem;
}
.aside>img{
    height: 15rem;
    width: 15rem;
    object-fit: cover;
    margin-left: 10px;
}
aside>p{
    text-align: left;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
    display: inline-block;
}


.image2{
    display: inline-block;
    width: 300px;
    height: 300px;
    margin-left: 320px;

}
.p2{
    display:inline-block;
    object-fit: cover;
    width: 30%;
    margin-bottom: 100px;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;

}
.image3{
    display: inline-block;
    width: 300px;
    height: 300px;
    margin-left: 320px;
}
.p3{
    display:inline-block;
    object-fit: cover;
    width: 30%;
    margin-bottom: 100px;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;

}
.image4{
    display: inline-block;
    width: 300px;
    height: 300px;
    margin-left: 320px;
}
.p4{
    display:inline-block;
    object-fit: cover;
    width: 30%;
    margin-bottom: 100px;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;

}
main{
    text-align: center;
}
.logo>img{
    width: 80px;
    height: 80px;
    position: absolute;

}
.logo{
    display: block;
}
.texto{
    text-align: center;
}

.image5{
    width: 96%;
    object-fit: cover;
    object-position: top;
    display: inline-block;
    padding-left: 30px;
}
.texto{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}
.correo{

    text-align: center;
    margin-left: 150px;
    background-color: burlywood;
    border: 1px;
    padding: 1rem;
    border-radius: 2rem;
    text-decoration: none;
    display: inline-block;
    width: 20%;
}
.contacto{
    color: black;
    text-align: center;
    margin-left: 500px;
    border: 1px;
    background-color: burlywood;
    padding: 1rem;
    border-radius: 2rem;
    text-decoration: none;
    display: inline-block;
    width: 20%;

}
a{
    color: black;
    background-color: burlywood;
    text-decoration: none;
    font-weight: 600;
}
