/*Css de la pagina Home*/
*{
    background-color:papayawhip;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.mainrating{
    margin-left: 2rem;
}
.divlista1{
    display: flex;

}

h1,h2,h3{
    text-align: center;
}
.aside>img{
    height: 15rem;
    width: 15rem;
    object-fit: cover;
    margin-left: 10px;
}
main{
    text-align: center;
}
.lista>a{
    color: black;
    border: 1px;
    background-color: burlywood;
    padding: 1rem;
    border-radius: 2rem;
    text-decoration: none;
    display: flex;
}
a{
    color: black;
    background-color: burlywood;
    text-decoration: none;
    font-weight: 600;

}
.logo{
    display: flex;
    justify-content: right;
    margin-left: 770px;
    object-fit: cover;
    height: 80px;
    width: 80px;
}
.banner{
    width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position: top;
    
}
nav{
    color: black;
    display: flex;
    margin-top: 20px;
    margin-left: 15px;

}

.divnav{
    display: flex;
}
main{
    display: flex;
}
.aside{
    display: flex;
}
.texto{
    display: flex;
    width: 40%;
    margin-left: 300px;
    margin-top: 100px;
}
.image1{
    display: flex;
    width: 300px;
}

/*Css de la pagina abautus*/
.dos{
    display: flex;
}
.image2{
    display: flex;
    width: 300px;
    height: 300px;
    margin-left: 200px;
    margin-bottom: 30px;
}
.p2{
    display: flex;
    margin-left: 30px;
   margin-top: 150px;
}

.tres{
    display: flex;
}
.image3{
    display: flex;
    width: 300px;
    height: 300px;
    margin-left: 200px;
    margin-bottom: 30px;
}
.p3{
    display: flex;
    margin-left: 30px;
    margin-top: 150px;
}
.cuatro{
    display: flex;
}
.image4{
    display: flex;
    width: 300px;
    height: 300px;
    margin-left: 200px;
}
.p4{
    display: flex;
    margin-left: 30px;
    margin-top: 150px;
}
/*Css de la pagina Contact*/
.image5{
    width: 96%;
    object-fit: cover;
    object-position: top;
    padding-left: 40px;
}
p{
    text-align: center;
}
main{
    display: block;
}
.contact{
    display: flex;
}
.contacto{
    display: flex;
}
.correo{
    text-align: center;
    margin-left: 150px;
    background-color: burlywood;
    border: 1px;
    padding:1rem;
    border-radius: 2rem;
    text-decoration: none;
    display: flex;
    width: 20%;
}
.contacto{
    color: black;
    text-align: center;
    margin-left: 500px;
    border: 1px;
    background-color: burlywood;
    padding: 1rem;
    border-radius: 2rem;
    text-decoration: none;
    display: flex;
    width: 20%;
}


/*Css de la pagina Services*/
table{
    margin-left: 480px;
}
table,
td,
th,
tr {

    border: 1px solid black;
    border-collapse: collapse;


}
table>h1,h2{
    display: flex;
    align-items: center;
}
th{
    background-color: burlywood;
}
/*Css de la pagina rating*/
article{
    display: flex;
}
ul{
    margin-top: 100px;
    margin-left: 150px;
    font-size: large;
}
.rating{
    text-align: center;
    font-size: larger;

}
form{
    display: flex;
    flex-direction: column;
    max-width: 50vh;
    border: 2px solid black;
    color: black;
    font-family: "poppins";
    margin-right: 200px;

}
main{
    display: flex;
    justify-content: right;
    margin: 5vh;

}
input{
    display: flex;
    margin-left: 15px;
    margin-right: 5px;

}
label{
display: flex;
}

.acepto{
    font-size: 8px;
    display: flex;
}
.checkbox{
    display: flex;
    margin-left: 0;
}
.submit{
    display: flex;
}
input[type="submit"]{
    align-self: flex-end;
    width: 5rem;
}
.hire{
    text-align: center;
    margin-left: 30px;
    margin-bottom: 30px;
}
.hiresub{
 display: flex;
 justify-content: center;
}
.hireh3{
    text-align: left;
    margin-left: 30px;
    margin-bottom: 30px;
}

.mapa{
    display: flex;
    width: 600px;
    height: 400px;
    margin-right: 200px;
    border: 1px solid black;
}